{% extends 'base.html'%}

{% block styles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Italianno&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Bungee+Inline|Italianno&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<h1>welcome to pitches.com where you pitch appreciated</h1>
<br>
<br>
<br>
<div class="para">
<a href="{{url_for('auth.login')}}" class='btn btn-primary'> start pitching</a>

</div>

{% endblock %}